.createAcc {
  position: absolute;
  width: 130px;
  height: 23px;
  left: 20px;
  top: 22px;
  margin: 0;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.closeBtn {
  position: absolute;
  right: 22px;
  top: 24px;
  cursor: pointer;
}

.input {
  position: absolute;
  width: 320px;
  height: 79px;
  left: 0;
  right: 0;
  top: 65px;
  margin: 0 auto;
}

.createAccBtn {
  position: absolute;
  width: 130px;
  height: 36px;
  left: 10%;
  top: 166px;
  cursor: pointer;
  background: #2f6ce5;
  border-radius: 20px;
}

.fbSignIn {
  position: absolute;
  width: 320px;
  height: 38px;
  left: 0;
  right: 0;
  top: 224px;
  margin: 0 auto;
  background: #ffffff;
  border: 0.6px solid #d9d9db;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.googleSignIn {
  position: absolute;
  width: 320px;
  height: 38px;
  left: 0;
  right: 0;
  top: 274px;
  margin: 0 auto;
  background: #ffffff;
  border: 0.6px solid #d9d9db;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.terms {
  position: absolute;
  width: 240px;
  height: 32px;
  left: 0;
  right: 0;
  top: 334px;
  margin: 0 auto;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  /* or 145% */
  cursor: pointer;
  text-align: center;
  letter-spacing: -0.008em;

  color: #212529;
}

.signUp {
  position: absolute;
  width: 110px;
  height: 17px;
  right: 0;
  margin-right: 17%;
  top: 175px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */
  cursor: pointer;
  text-align: center;
  text-decoration-line: underline;

  color: #495057;
}

.image {
  width: 736px;
}

.cross {
  position: absolute;
  top: -23px;
  right: 10px;
  cursor: pointer;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 500px) {
  .createAccBtn {
    width: 150px;
    left: 17%;
  }
}
